/* Navigation Links */
.navbar-nav > a {
    font-size: large;
  }
  
  /* Page Layout */
  .content {
    padding-top: 1em;
  }
  
  /* Homepage Search */
  /* #search_extend {
    font-size:18px;
    cursor:pointer;
    text-align:right;
  } */
  /* #search_extend > * {
    font-size:16px;
    text-align:left;
  } */
  #search_panel {
    width: 100%;
    background-color: lightgrey;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    /* min-height: 2em; */
    padding: 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
  }
  #search_elements {
    width: fit-content;
  }
  
  /* .search {
    width: 100%;
  }
   */
  /* Album/Article Styling */
  .album-art {
    max-width: 250px;
    margin:10px;
    flex-shrink: 1;
  }
  .album-art > img {
    border:black solid 3px;
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  