<!-- Only include header/footer if full version of article -->
{% if full == True %} 
    {% extends "base.html" %}
{% endif %}
{% block content %}

<body>

<!-- Star Rating Script-->
    <script>
        function star_rating(rating, id) {
            for (i = 0; i < 5; i++) { //loop 5 times
                if ((rating - 2) >= 0) { 
                    $(".star_rating#" + id).append("<i class='bi bi-star-fill'></i>"); //add full star
                    rating -= 2
                } else if ((rating - 1) == 0) { 
                    $(".star_rating#" + id).append("<i class='bi bi-star-half'></i>"); //add half star
                    rating -= 1
                } else { 
                    $(".star_rating#" + id).append("<i class='bi bi-star'></i>"); //add empty star
                }
            }
        }
    </script>

{% if full == False %} 
    <div class="container" style="border: black solid 3px; cursor:pointer;" onclick="location.href = '/article/{{ album.Article.album_id }}';">
{% else %}
    <div class="container" style="border: black solid 3px;">
{% endif %}
        <div class="row">
            <!-- Album Image -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="{{ album.Article.album_art }}" style="width:300px; margin:10px; border:black solid 3px;">
            </div>

            <!-- Album Info -->
            <div class = "col-xs-7 col-sm-7 col-md-7 col-lg-7">

                <div class="row">
                    <h1 style="font-size: 40pt;">{{ album.Article.album_title }}</h1>
                </div>

                <div class="row">
                    <h3>{{ album.Article.album_artist }} / {{ album.Article.album_year }} / {{ album.Article.album_type }}</h3>
                </div>

                <div class="row">
                    <h3 class="star_rating" id="album_{{ album.Article.album_id }}"></h3>
                </div>

                <div class="row">
                    <h3> {{ album.Article.album_review_no }} reviews, {{ album.Article.album_rating_no }} ratings</h3>
                </div>

                <div class="row">
                    <h4 class="poster" style="color:gray; font-style: italic;">Posted by {{ album.User.username }} </h4>
                </div>
            </div>

            <!-- Follow Button -->
            <div class = "col-xs-1 col-sm-1 col-md-1 col-lg-1">
                <!--If user is signed out or not currently following, then add a follow button-->
                {% if not user.is_authenticated or album.Article not in user.following_articles%}
                    <form method="POST" action="/follow_article">
                        <input type="hidden" name='article_id' value={{ album.Article.album_id }}>
                        <input type="submit" value="Follow Article">
                    </form>     
                {% else %}  
                <form method="POST" action="/unfollow_article">
                    <input type="hidden" name='article_id' value={{ album.Article.album_id }}>
                    <input type="submit" value="Unfollow">
                </form>  
                {% endif %}       
            </div>
        </div>
    </div>

    <!-- Only include reviews if full version of article -->
    {% if full == True %}
        {% if user.is_authenticated and full == True %}
            {% include "create-review.html"%}

        {% endif %}

        {% for review in reviews %}
            {% with %}
                {% set review=review %}
                {% include "review.html"%}
            {% endwith %}
        {% endfor %}
    {% endif %}

    <script>
        // Call star rating script for albums here, after everythings loaded
        star_rating("{{ album.Article.album_rating }}", "album_" + "{{ album.Article.album_id }}")
    </script>
</body>
{% endblock %}