<!-- This code allows users to create , edit and change posts -->
{% extends "base.html" %}
{% block content %}

<h1 class="text-center">Create Post</h1>
<div class="pb-2 box-grey">
    <h2>1. From Spotify Link</h2>
    <form 
        action="/create-post-auto" 
        method="post" 
        enctype="multipart/form-data"
        class="input-group"
    >
        <!-- {{ form1.hidden_tag() }} -->
        {{ form1.url.label(class_="input-group-text") }}
        {{ form1.url(class_="form-control") }}
        {% for error in form1.url.errors %}
            <span style="color: red;">[{{ error }}] </span>
        {% endfor %}
        {{ form1.submit(class_="form-control btn btn-primary", style_="flex: 0 0 fit-content;") }}
    </form>
</div>
<div class="box-grey">
    <h2>2. Manually</h2>
    <form action="/create-post-manual" method="post" enctype="multipart/form-data" class="row">
        {{ form2.hidden_tag() }}
        <div class="col-md-8 label-30 d-flex flex-column">
            <div class="input-group mb-2">
                {{ form2.type.label(class_="input-group-text") }}
                {{ form2.type(class_="form-control form-select") }}
            </div>
            <div class="input-group mb-2">
                {{ form2.artist.label(class_="input-group-text") }}
                {{ form2.artist(placeholder="Name",id="artist",class_="form-control") }}
            </div>
            <div class="input-group mb-2">
                {{ form2.title.label(class_="input-group-text") }}
                {{ form2.title(placeholder="Title",id="title",class_="form-control") }} 
            </div>
            <div class="input-group">
                {{ form2.image.label(class_="input-group-text")}}
                {{ form2.image(class_="form-control") }}
                
            </div>
            <p class="text-end mt-0 mb-2">
                <small>Image size must be less than 2MB</small>
            </p>
            <div class="input-group mb-2">
                {{ form2.date.label(class_="input-group-text") }}
                {{ form2.date(id="date", class_="form-control") }}
            </div>
            <div class="input-group justify-content-end mt-auto">
                <input type="button" value="Reset" onclick="location.reload()" class="btn btn-outline-secondary"></input>
                {{ form2.submit(class_="btn btn-primary") }}
            </div>
            
        </div>
        <div class="col-md-4">
            <div id="image-container" class="img-container position-relative" >
                <p class="position-absolute top-50 start-50 translate-middle text-center">
                    IMG Goes Here 
                </p>
            </div>
        </div>
    </form>
</div>
<script>
    $("#image").on('change', function () {
        $("#image-container").empty();
        var image = $('#image').prop('files');
        console.log(image);
        if (image.length >= 1) {
            var imgURL = URL.createObjectURL(image[0]);
            $("#image-container").append(
                "<img src=\"" + imgURL + "\"/>"
            )
        } else {
            $("#image-container").append(
                "<p class=\"position-absolute top-50 start-50 translate-middle text-center\">IMG Goes Here</p>"
            )
        }
    })
</script>
{% endblock %}
