<!-- This code allows users to create , edit and change posts -->
{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="static/create-post.css">

<body>
  <h1>
    Create Post
  </h1>

  <form>
    
      <div>

          <label for="songtitle">Song title : </label>
          <input type="text" id="songtitle" name="songtitle" placeholder="Track 1 title" required>

      </div>
      
      <br>

      <div>
          <label for="author">Artist/Band name: </label>
          <input type="text" id="author" name="author" placeholder="Name" required>
      </div>

      <br>

      <div>

          <label for="songfile">Upload your song: </label>
          <input class="songfile" type="file" name="songfile" accept=".mp3,audio/*" required>

      </div>

      <br>

      <div class="img-upload-container">
          <div class="img-upload-box">
              <i class="uploadimg"></i>
              <label for="uploadimg">Upload Image: </label>
              <button class="select-image">Select Image</button>
          </div>
        <div class=:"img-preview">
      </div>

      <br>

      <div>

          <label for="desc">Description: </label>
          <textarea id="desc" name="desc" class="description-textarea" placeholder="Tell your followers about your song"></textarea>

      </div>

      <br>

      <div>
          
          <label for="date">Release Date: </label>
          <input type="date" id="rdate" name="rdate" required>

      </div>

      <br>

      <div>

          <label for="language">Language: </label>
          <select id="language" name="language">
          <option value="Arabic">Arabic</option>
          <option value="Chinese">Chinese</option>
          <option value="English" selected>English </option>       
          <option value="French">French</option>
          <option value="German">German</option>
          <option value="Italian">Italian</option>
          <option value="Japanese">Japanese</option>
          <option value="Korean">Korean</option>
          <option value="Portuguese">Portuguese</option>
          <option value="Russian">Russian</option>
          <option value="Spanish">Spanish</option>
          <option value="Vietnamese">Vietnamese</option>>

          </select>

      </div>

      <br>

      <div clas="button-container">
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
      </div>

  </form>
  
</body>

{% endblock %}
