<div class="container" id="create-review">
  <form action="/article/{{ album.Article.album_id }}/create_review" method="post">
    {{ form3.rating() }}
    <h3 class="star_rating" id="create_review"></h3>
    {{ form3.review() }}
    {{ form3.submit() }}
  </form>
  {% with messages = get_flashed_messages(category_filter=['review_error']) %}
    {% if messages %}
      <span style="color: red;">{{ messages[0] }} </span>
    {% endif %}
  {% endwith %}
</div>

<script>
  //default to 0 stars
  star_rating(0, "create_review")
  //when a rating selection is made, call star_rating to update the render
  $("#choose_rating").on("change", function() {
    //clear previous children and add new stars
    $(".star_rating#create_review *").remove()
    star_rating($("#choose_rating").val(), "create_review")
  })
</script>