{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1 style="text-align: center;">
                        Error 404</h1>
                    <h2 style="text-align: center;">
                        Page not found</h2>
                    <div class="error-details" style="padding-top: 10px; text-align: center;">
                        Sorry, we couldn't find the page you were looking for.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</body>
{% endblock %}