{% extends "base.html" %}
{% block content %}
<body>
    <style>
        #search_extend {
            font-size:18px;
            cursor:pointer;
            text-align:right;
        }
        #search_extend > * {
            font-size:16px;
            text-align:left;
        }
        #search_panel {
            background-color: gainsboro;
            border: black solid 3px;
        }
        #search_panel > * {
            position: sticky;
            top: 0;
        }
        #search, #sort, #submit {
            width: 100%;
        }
    </style>

    <div class="container">
        <div class="row">
            <div id="search_panel" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                    <form action="/home">
                        <h3 id="search_extend">&gt; Search</h3>
                        <div id="search_elements" style="display:none;">
                            {{ form.search }}
                            {{ form.sort }}
                            {{ form.submit }}
                            <label>Found {{ articles.count() }} results</label>
                        </div>
                    </form>
            </div>

            <div id="articles" class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                <!-- For loop to display every article passed to the home page -->
                {% for album in articles %}
                    {% with %}
                        {% set album=album %}
                        {% set full=False %}
                        {% include "article_full.html"%}
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        let panel_open = false;

        //on load, check if search url param is active, and if so open the search panel
        $(document).ready(function() {
            const url_params = new URLSearchParams(window.location.search);
            if(url_params.get("search") != null) {
                open_search()
            }
        });

        //jquery click event to call open_search
        $("#search_extend").click(function(e) {
            //check so that it only happens on the parent, not children
            if(e.target == this) {
                open_search()
            }
        });
    
        function open_search(){      
            //if search panel is closed
            if (!panel_open) {
                panel_open = true;

                //change text
                $("#search_extend").html("&lt; Search");

                //change column widths
                $("#search_panel").removeClass("col-xs-1 col-sm-1 col-md-1 col-lg-1");
                $("#search_panel").addClass("col-xs-3 col-sm-3 col-md-3 col-lg-3");
                $("#articles").removeClass("col-xs-11 col-sm-11 col-md-11 col-lg-11");
                $("#articles").addClass("col-xs-9 col-sm-9 col-md-9 col-lg-9");

                //unhide search elements
                $("#search_elements").css("display", "inline");

            //if search panel is open
            } else if (panel_open) {
                panel_open = false;
                //change text
                $("#search_extend").html("&gt; Search");

                //change column widths
                $("#search_panel").removeClass("col-xs-3 col-sm-3 col-md-3 col-lg-3");
                $("#search_panel").addClass("col-xs-1 col-sm-1 col-md-1 col-lg-1");
                $("#articles").removeClass("col-xs-9 col-sm-9 col-md-9 col-lg-9");
                $("#articles").addClass("col-xs-11 col-sm-11 col-md-11 col-lg-11");

                //set all search elements to hidden
                $("#search_elements").css("display", "none");
            }

            //if there is a search param, write it to the searchbar
            url_params = new URLSearchParams(window.location.search);
            if (url_params != null) {
                //add search param to search bar
                $("#search").attr("value", url_params.get("search"));
            }
        }
    </script>
</body>
{% endblock %}