{% extends "base.html" %}
{% block content %}
<!-- 
  class="container" style="height:100vh;"
  class="row" style="height:100vh;"
  class="col-xs-1 col-sm-1 col-md-1 col-lg-1"
  class="col-xs-11 col-sm-11 col-md-11 col-lg-11"
 -->


<!-- Search panel -->
<form action="/home" id="search_panel">
  <!-- <h3 id="search_extend" onclick="open_search()">&gt; Search</h3> -->
  <!-- Everything but the extend button defaults to hidden -->
  <span 
    id="search_elements"
    class="input-group"
  >
    {{ form.search(class_="form-control") }}
    {{ form.sort(class_="form-control form-select") }}
    <button class="form-control btn btn-primary" id="submit" name="submit" type="submit">
        <i class="bi bi-search"></i>
        Search
    </button>
    <!-- {{ form.submit(class_="form-control btn btn-primary") }}   -->
  </span>
  <label id="found">Found {{ articles.count() }} results, sorted by </label>
</form>


<div id="articles">
  <!-- For loop to display every article passed to the home page -->
  {% for album in articles %}
    {% with %}
      {% set album=album %}
      {% set full=False %}
      {% include "article_full.html"%}
    {% endwith %}
  {% endfor %}
</div>



<script>
    url_params = new URLSearchParams(window.location.search);
    //if there is a search url param, write it to the search box
    if (url_params.get("search") != null) {
        $("#search").attr("value", url_params.get("search"));
    } 

    //if there is a sort url param, write it to the found text
    if (url_params.get("sort") != "") {
        console.log(url_params.get("sort"))
        switch (url_params.get("sort")){
            case "album_create_time ASC":
                order = "oldest post"; break; 
            case "album_rating DESC":
                order = "higest rated"; break;   
            case "album_rating ASC":
                order = "lowest rated"; break;   
            case "album_rating_no + album_review_no DESC":
                order = "most rated"; break;   
            case "album_rating_no + album_review_no ASC":
                order = "least rated"; break;
            case "album_year DESC":
                order = "newest album"; break;
            case "album_year ASC":
                order = "oldest album"; break;
            default: //"album_create_time DESC" is the default
                order = "newest post"; break;     
        }

        //updating found text ("result" if 1, "results" if not 1)
        if ("{{ articles.count() }}" == 1) {
            $("#found").html("Found {{ articles.count() }} result, sorted by " + order);
        } else {
            $("#found").html("Found {{ articles.count() }} results, sorted by " + order);
        }
        
    }
</script>
{% endblock %}