{% extends "base.html" %}

{% block content %}

{% if redirect %}
<div class="alert alert-danger" style="font-size: x-large;color: red;">
    {% if redirect == "/create-post" %}
        Account required to create post
    {% endif %}
    {% if redirect == "/post-review" %}
        Account required to leave review
    {% endif %}
    {% if redirect == "/following" %}
        Login to see articles followed
    {% endif %}
    {% if redirect == "/follow_article" %}
        Account required to follow article
    {% endif %}
</div>
{% endif %}



<!--LOGIN FORM-->
<div class="d-md-flex flex-md-row gap-4 container">
    <div class="box-grey flex-grow-1">    
        <h2 class="text-center">Login</h2>
        <form action="/login" method="post" class="container px-4">
            {{ form.hidden_tag() }}
            <div class="form-group" style="width: 100%">
                {{ form.username.label }}<br>
                {{ form.username(class="form-control", placeholder="Enter Username") }} <br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}] </span>
                {% endfor %}
            </div>
            <div class="form-group" style="width: 100%">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", placeholder="Enter Password") }} <br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }} ]</span>
                {% endfor %}
            </div>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class="btn btn-primary") }}</p>

            <!--Error messages when user not found-->
            {% with messages = get_flashed_messages(category_filter=["login_failed"]) %}
            {% if messages %}
                <div class="alert alert-danger mt-2 mb-0" style="color: red">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
        </form> 
    </div>
    <div class="box-grey flex-grow-1">
        <form action="/signup" method="post" class="container px-4">
            <h2 class="text-center">Create your account</h2>
            {{ createForm.hidden_tag() }}
            <div class="form-group">
                {{ createForm.username.label }}<br>
                {{ createForm.username(class="form-control", placeholder="Enter Username") }} <br>
                {% for error in createForm.username.errors %}
                <span style="color: red;">[{{ error }}] </span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ createForm.password.label }}<br>
                {{ createForm.password(class="form-control", placeholder="Enter Password") }} <br>
                {% for error in createForm.password.errors %}
                <span style="color: red;">[{{ error }} ]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ createForm.confirm.label }}<br>
                {{ createForm.confirm(class="form-control", placeholder="Confirm Password") }} <br>
                {% for error in createForm.confirm.errors %}
                <span style="color: red;">[{{ error }} ]</span>
                {% endfor %}
            </div>
            <p>{{ createForm.remember_me() }} {{ createForm.remember_me.label }}</p>
            <p>{{ createForm.submit(class="btn btn-primary") }}</p>

            <!--Error messages when username taken-->
            {% with messages = get_flashed_messages(category_filter=['signup_error']) %}
            {% if messages %}
                <div class="alert alert-danger mt-2 mb-0" style="color: red">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>
</div>



{% endblock %}