{% extends "base.html" %}

{% block content %}
<!--LOGIN FORM-->
<div style="padding-top: 50px; width: 50%; float: left">
    <div style="margin: 0px auto; width: 50%">
        <h1>Login</h1>
        <form action="/login" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group" style="width: 100%">
                {{ form.username.label }}<br>
                {{ form.username(class="form-control", placeholder="Enter Username") }} <br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}] </span>
                {% endfor %}
            </div>
            <div class="form-group" style="width: 100%">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", placeholder="Enter Password") }} <br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }} ]</span>
                {% endfor %}
            </div>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class="btn btn-primary") }}</p>
        </form>

        <!--Error messages when user not found-->
        {% with messages = get_flashed_messages(category_filter=["login_failed"]) %}
        {% if messages %}
            <div style="color: red">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        
    </div>
</div>

<!--CREATE ACCOUNT FORM-->
<div style="padding-top: 50px; width: 50%; float: right">
    <div style="margin: 0px auto; width: 50%;"></div>
        <form action="/signup" method="post" style="width: 80%; float: right;">
            <h1 style="float: center;">Create your account</h1>
            {{ createForm.hidden_tag() }}
            <div class="form-group" style="width: 70%">
                {{ createForm.username.label }}<br>
                {{ createForm.username(class="form-control", placeholder="Enter Username") }} <br>
                {% for error in createForm.username.errors %}
                <span style="color: red;">[{{ error }}] </span>
                {% endfor %}
            </div>
            <div class="form-group" style="width: 70%">
                {{ createForm.password.label }}<br>
                {{ createForm.password(class="form-control", placeholder="Enter Password") }} <br>
                {% for error in createForm.password.errors %}
                <span style="color: red;">[{{ error }} ]</span>
                {% endfor %}
            </div>
            <div class="form-group" style="width: 70%">
                {{ createForm.confirm.label }}<br>
                {{ createForm.confirm(class="form-control", placeholder="Confirm Password") }} <br>
                {% for error in createForm.confirm.errors %}
                <span style="color: red;">[{{ error }} ]</span>
                {% endfor %}
            </div>
            <p>{{ createForm.remember_me() }} {{ createForm.remember_me.label }}</p>
            <p>{{ createForm.submit(class="btn btn-primary") }}</p>
        </form>

        <!--Error messages when username taken-->
        {% with messages = get_flashed_messages(category_filter=['signup_error']) %}
        {% if messages %}
            <div style="color: red">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}

    </div>
</div>

{% if redirect %}
<div style="font-size: x-large ;padding-top: 30%; text-align: center; color: red;">
    {% if redirect == "/create-post" %}
    Account required to create post
    {% endif %}
    {% if redirect == "/post-review" %}
    Account required to leave review
    {% endif %}
</div>
{% endif %}

{% endblock %}
