<div class="review">
    <h4> 
        <span 
            class="star_rating" 
            id="review_{{ review.Review.review_id }}"
        ></span>
        {{ review.User.username }}
    </h4>
    {% if review.Review.review_text %}
        <p style="margin: 0;">
            {{ review.Review.review_text }}
        </p>
    {% endif %}
</div>


<script>
    //call star rating function for review here
    star_rating("{{ review.Review.review_rating }}", "review_" + "{{ review.Review.review_id }}")
</script>